* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--blanc);
    background-color: var(--noir);
    
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: var(--blanc);
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

p {
    display: block;
    margin: 0 1rem;
}