:root {
  --blanc: rgba(255, 255, 255, 1);
  --gris: rgba(229, 229, 229, 1);
  --noir: rgba(17, 17, 17, 1);
  --full-black: rgba(0, 0, 0, 1);
  --graywhite: rgba(255, 255, 255, 1);
  --grayblack: rgba(0, 0, 0, 1);
  --text-poppins-font-family: "Poppins-Regular", Helvetica;
  --text-poppins-font-weight: 400;
  --text-poppins-font-size: 13px;
  --text-poppins-letter-spacing: 1.3px;
  --text-poppins-line-height: 160.0000023841858%;
  --text-poppins-font-style: normal;
  --bold-poppins-font-family: "Poppins-Bold", Helvetica;
  --bold-poppins-font-weight: 700;
  --bold-poppins-font-size: 13px;
  --bold-poppins-letter-spacing: 1.3px;
  --bold-poppins-line-height: 160.0000023841858%;
  --bold-poppins-font-style: normal;
  --title-poppins-font-family: "Poppins-Bold", Helvetica;
  --title-poppins-font-weight: 700;
  --title-poppins-font-size: 32px;
  --title-poppins-letter-spacing: 3.2px;
  --title-poppins-line-height: 160.0000023841858%;
  --title-poppins-font-style: normal;
  --menu-poppins-font-family: "Poppins-Bold", Helvetica;
  --menu-poppins-font-weight: 700;
  --menu-poppins-font-size: 30px;
  --menu-poppins-letter-spacing: 0px;
  --menu-poppins-line-height: normal;
  --menu-poppins-font-style: normal;
  --follow-poppins-font-family: "Poppins-Regular", Helvetica;
  --follow-poppins-font-weight: 400;
  --follow-poppins-font-size: 16px;
  --follow-poppins-letter-spacing: 0px;
  --follow-poppins-line-height: normal;
  --follow-poppins-font-style: normal;
  --button-poppins-font-family: "Poppins-Bold", Helvetica;
  --button-poppins-font-weight: 700;
  --button-poppins-font-size: 11px;
  --button-poppins-letter-spacing: 1.1px;
  --button-poppins-line-height: 160.0000023841858%;
  --button-poppins-font-style: normal;
}