.footer {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__section-logo {
    width: 50%;
}

