.main__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  margin: auto;
}

.main__top-title {
    position: absolute;
    z-index: 20;
    top: 45%;
    margin-left: 3%;
    width: 75%;
}

.main__info-img {
    display:block; 
    margin:auto; 
    width:40%; 
    height:auto
}

.main__top-trait1,
.main__top-trait2 {
    width: 2px;
    height: 100px;
    background-color: white;
    margin: auto;
}

.main__top-scrolltxt {
    position: relative;
    color: var(--blanc);
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    top: -3rem;
}